<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Services page
    body
      nav
        ul
           li 
            a(href="/") Home
           li 
            a(href="/services") Our Services
           li
            a(href="/contact") Contact us
    h2 Awesome services
    p I often borrow books from the library. 
    p The mayor presided over the inauguration of the new library.
    image.imge(src="Assets/booklover.svg")
